[user]
	name = Mark McFadden
	email = m2web@yahoo.com
[color "status"]
    untracked = bold yellow
    changed = bold yellow
[core]
	editor = code
[alias]
	last = log -1 HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[commit]
	template = C:\\Users\\MARKMCFADDEN\\.git-commit-template.txt
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
